#menu{

	/*-fx-background-image: url("img/menu.png");*/
	/*-fx-background-color:red;*/
}

#tetrisBtn{
	-fx-background-color: #EC644B;
	-fx-pref-height: 100px;
    -fx-pref-width: 800px;
    -fx-background-radius:0px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}
